.slide{
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.slide1 {
    background-image: url("../../assets/ebanner2.jpeg");
    
}


.slide2 {
    background-image: url("../../assets/ebanner1.jpg");
}

.slide3 {
    background-image: url("../../assets/ebanner5.jpg");
}

.slide4 {
    background-image: url("../../assets/ebanner8.jpg");
}